:root {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 2em;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #646464;
}

/* reusable */
.con{
  margin-top: 160px;
}

.center-con,.con{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.center-div{
  display: grid;
}

input{
  outline: none;
  background: transparent;
  width: 240px;
  height: 30px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: none;
}

input:focus {
  color: #f2df79;
}

input:focus::placeholder {
  opacity: 0;
}

button:hover{
  font-weight: 700;
  font-size: 1.1rem;
  background-color: #f2df79;
  color: #646464;
  border: none;
}
/* reusable end */

/* navbar */
.nav-bar{
  width: 90vw;
  height: 70px;
  background-color: transparent;
  position: sticky;
  align-items: center;
  z-index: 10;
}

.nav-bar .nav-list {
  display: flex;
  justify-content: space-between;
}

#logo{
  width: 500px;
  margin: auto;
}

#lg-logo{
  z-index: 10;
}

.nav-item{
  color: #f2df79;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav-item:hover{
  color: #fff;
  border-bottom: 2px dashed #f2df79 ;
}
/* navbar end*/

/* icons setting */
.fa-solid{
  font-size: .8rem;
  color: white;
}

.fa-right-from-bracket{
  font-size: 1rem;
  margin-top: 12px;
}

.fa-right-from-bracket:hover{
  cursor: pointer;
  color: #f2df79;
}
/* icons end */

/* login/signup form */
.form{
  margin: auto;
  text-align: center;
}

.title{
  color: #f2df79;
}

.input-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  border-bottom: 2px solid #fff;
}

.input-div{
  display: relative;
  justify-content: space-around;
}

.input-div i{
  margin-right: 5px;
}

.submit-btn button{
  font-family: 'East Sea Dokdo', cursive;
  width: 270px;
  font-size: 1rem;
  margin: 10px;
}

.link-btn{
  color: #f2df79;
}

.link-btn:hover{
  cursor: pointer;
  color: aqua;
  padding: 0 10px;
  border-left: #fff 5px double;
  border-right: #fff 5px double;
}

.highlight-text{
  color: aliceblue;
}
/* login/signup form end */

/* pet */
.round-clip {
  clip-path: circle(50%);
  object-fit: cover;
  width: 240px;
  height: 240px;
}
/* pet end */
